header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #676a6c;
    color: white;
    .logo img {
      height: 40px;
    }
    nav ul {
      list-style-type: none;
      display: flex;
      li {
        margin-left: 20px;
        a {
          color: rgb(6, 5, 5);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }